/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --background-color: #FFF1F7;
    --background-image: url('../images/cover-image-light.png');
    --back-color: #353430;
    --title-color: #FFC2E6;
    --background-text: #FF8DCB;
    --list-item-color: var(--back-color);
    --header-text-color: var(--back-color);
}

.page.theme_light .header_rec {
    display: none;
}