/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --accent-color: #ff0070;
    --back-color: var(--accent-color);
    --title-color: #DB00FF;
    --header-text-color: #000028;
    --background-color: #000028;
    --list-item-color: #F1B2CE;
    --background-image: url('../images/cover-image-dark.png');
    --menu-color: var(--accent-color);
    --background-text: var(--accent-color);
    --rec-color: var(--accent-color);
    --hover-color: #FF007066;
    --shadow-title: var(--accent-color);
}